server:
  port: 9090
spring:
  application:
    name: blog-service
  cloud:
    nacos:
      discovery:
        server-addr: 43.138.24.159:8848
    sentinel:
      transport:
        dashboard: 127.0.0.1:8100 #sentinel控制台地址
        client-ip: 127.0.0.1 #连接本地Sentinel 可以不配置, 连接服务器Sentinel 需要配置一下client-ip

  datasource:
    url: jdbc:mysql://localhost:3306/spring_cloud_blog?useUnicode=true&characterEncoding=utf8&useSSL=false&serverTimezone=Asia/Shanghai
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: 123456



mybatis-plus:
  configuration:
    map-underscore-to-camel-case: true
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
logging:
  file:
    name: blog.log